<div id="footer">
  <div class="container">
    <hr class="space" />
    <hr class="space" />
    <div class="span-17 append-1">
      <h3>About Me</h3>
      <p>I need to write something about myself.  I hope it'll be good.</p>
    </div>
    <div id="elsewhere" class="span-6 last">
      <h3>Find Me Elsewhere</h3>
      <div class="span-6 last">
        <a href="http://stackexchange.com/users/440421/moshe-katz"><img src="http://stackexchange.com/users/flair/440421.png" width="208" height="58" alt="profile for Moshe Katz on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Moshe Katz on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
      </div>
      <hr class="space" />
      <div class="span-1 badges" id="github_badge">
        <a href="https://github.com/kohenkatz"></a>
      </div>
      <div class="span-1 badges" id="linkedin_badge">
        <a href="https://linkedin.com/in/kohenkatz"></a>
      </div>
      <hr class="space" />
      <div class="span-6 last">
        <p><!-- need something to go here --></p>
      </div>
    </div>
    <div class="span-24 copyright">
      <div class="span-24"><p class="small">&copy {{ page.date | date: "%Y" }} Moshe Katz. Some Rights Reserved. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p></div>
      <hr class="space" />
    </div>
  </div>
</div>
